body{
  font-family: 'Open Sans', sans-serif;
}

/* Utility classes */
.margin_y20{
  margin: 20px 0;
}

.margin_y30{
  margin: 30px 0;
}

.margin_y40{
  margin: 40px 0;
}

.margin_t30{
  margin-top: 30px;
}

.margin_t50{
  margin-top: 50px;
}

.margin_t80{
  margin-top: 80px;
}

.font_15{
  font-size: 15px;
}

.ta_center{
  text-align: center;
}


/* Inizio header */

header{
  position: relative;
  background-image: url("../img/hero.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 500px;
}

header a {
  color: black;
}

.layover{
  height: 500px;
  background-color: rgba(0,0,0,0.5);
}

/* inizio navbar */
nav{
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: black;
  background-color: white;
}

#logo{
  width: 90px;
}

.header_menu li{
  display: inline-block;
  padding: 0 10px;
}

a{
  text-decoration: none;
}

.header_menu, .header_langs{
  font-size: 0.55rem;
  font-weight: bold;
  text-transform: uppercase;
}

.header_menu{
  text-align: right;
}

.header_langs li{
  display: inline-block;
  list-style: none;
  padding-right: 7.5px;
}
.header_langs{
  text-align: left;
  padding-left: 10px;
}
.header_langs a{
  padding-right: 7.5px;
}

.header_langs li:not(:last-child) a{
  border-right: 1px solid black;
}

/* Fine Navbar */
.hero_text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  text-align: center;
}

.hero_text h1{
  padding-bottom: 30px;
  font-size: 45px;
  font-weight: 600;
}

.hero_text img{
  width: 190px;
  padding: 20px;
}
/* Fine header */

/* Inizio main */

/* Prima sezione del main  */
#models{
  padding-top: 40px;
}
#models .card{
  text-align: center;
  background-color: #fafafa
}

#models .card h2{
  padding-top: 70px;
}
#models .card img{
  max-width: 80%;
  display: block;
  margin: auto;
}

.pr_1{
  padding-right: 1rem;
}

.pl_1{
  padding-left: 1rem
}
/* Fine prima sezione del main  */

.banner_grandpa{
  height: 380px;
  background-image: url("../img/banner_grandpa.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.iphone_row{
  height: 100px;
}

.iphone_row img{
  width: 250px;
  margin-top: -50%;
}

.iphone_row h2{
  font-size: 25px;
  font-weight: 600;
  padding-left: 100px;
}

.iphone_row h3{
  font-weight: 600;
  font-size: 15px;
}
/* Fine seconda sezione del main */

/* Terza sezione del main */
.smart_mobility{
  background-image: url(../img/green_background.jpg);
  height: 400px;
  background-size: cover;
  margin-top: 150px;
  color: white;
  text-align: center;
}

.smart_mobility h2{
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 15px;
}

.smart_mobility .col-lg-6{
  padding: 10% 12%;
}

.smart_mobility a{
  display: inline-block;
  color: white;
  margin-top: 20px;
}
/* Fine terza sezione del main */

/* Quarta sezione del main */
#app_globe .card{
  height: 450px;
  color: white;
  text-align: center;
}

#iphone_map{
  background-color: rgb(46, 60, 73);
  width: 100%;
}

#find_us{
  background-image: url(../img/city.jpg);
  background-size: cover;
}

#app_globe a{
  color: white;
}

#app_globe h2{
  padding-top: 30px;
  font-size: 30px;
  font-weight: 600;
}
/* Fine quarta sezione del main */
/* Fine del main */

/* Footer */
/* Prima sezione del footer */
footer{
  background-color: black;
  color: white;
  padding-bottom: 20px;
}


#footer_high{
  border-bottom: 1px solid lightgrey;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

#logo_footer{
  background-color: white;
  border: 5px solid white;
  width: 150px;
}

footer li{
  list-style: none;
  margin: 10px 0;
}

#footer_high a {
  text-decoration: none;
  color: lightgrey;
  font-size: 13px;
}
/* Fine prima sezione del footer */

/* Seconda sezione del footer */

#footer_low a{
  color: white;
  margin-right: 10px;
  font-size: 13px;
}

#footer_low span{
  font-size: 13px;
}
